/* Tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente local */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Fuente por defecto + sin scroll */
body {
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: auto;
  margin: 0;
  background-color: #f7f2e5;
}


